# Google Analytics Measurement ID
# Used for anonymous user analytics (e.g. G-XXXXXXXXXX)
PUBLIC_GA_ID=

# Yandex Webmaster Verification Code
# Used for Yandex search console verification (e.g. 16930e6edaa6a352)
PUBLIC_YANDEX_VERIFICATION=
